.layout {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.content {
  position: relative;
  display: flex;
  width: 100%;
  flex-grow: 1;
  max-width: 100%;
}

.alert {
  position: absolute !important;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
